body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Contêiner para as imagens */
.slider-container {
  width: 100%; /* Ocupa toda a largura da página */
  height: 300px; /* Altura fixa do retângulo */
  overflow: hidden; /* Garante que as imagens não "escapem" do retângulo */
  background-color: #f4f4f4; /* Cor de fundo para quando a imagem não cobre todo o espaço */
  position: relative; /* Posiciona o retângulo de forma fixa no layout */
}

/* Imagens dentro do slider */
.slider-container img {
  width: 100%; /* Ajusta a largura para preencher o contêiner */
  height: 100%; /* Ajusta a altura para preencher o contêiner */
  object-fit: cover; /* Garante que as imagens ocupem o espaço sem distorcer */
  position: absolute; /* Posicionamento necessário para o slider */
}

.slider-container img {
    object-fit: contain; /* Mantém a proporção e ajusta ao tamanho máximo possível */
    object-position: center; /* Centraliza a imagem dentro do contêiner */
}
